section {
    height: 100vh;
}

section.first {
    background: url("../../assets/images/computer_3d_modeling2.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.presentation-info {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-20%, -50%);
    display: flex;
    flex-direction: column;
}

.presentation-info h1 {
    font-weight: bold;
    max-width: 20rem;
    font-size: xxx-large;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border: 1px solid gray;
    /* overflow: hidden; */
}

.info-box .top {
    position: absolute;
}

@media screen and (max-width: 850px) {
    .info-container {
        flex-direction: column;
        width: 15rem;
        margin: auto;
    }
}
