extends layout

block style
  link(href="/stylesheets/pages/about.css" rel="stylesheet")

block content
  section.first.p-0.text-white
    +navbar
    .presentation-info
      h1 Qui sommes nous?
      p(style="width: 20rem;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, vero.
  section.p-0
    .d-flex.flex-row.justify-content-center.align-items-center(style="height: 100%;")
      .info-container
        .info-box
          p hello
        .info-box
          p hello
        .info-box
          p hello
