extends layout

block style
  link(href="/stylesheets/pages/about.css" rel="stylesheet")

block content
  section.first.p-0.text-white
    +navbar
    .presentation-info
      h1 Qui sommes nous?
      p(style="width: 20rem;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, vero.
  section.p-0
    .info-container
      .info-box
        .top
          i.bi.bi-lightning-fill(style="font-size: 5rem;")
          h1 Title
          h4 Sub-Title
        .bottom
          i.bi.bi-lightning(style="font-size: 5rem;")
          h1 content
