extends layout

block style
  link(href="/stylesheets/pages/home.css" rel="stylesheet")

block content
  section.first.p-0.text-white
    +navbar
    .presentation-info
      h1.title 3D Prototyping
      p(style="width: 20rem;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, vero.
      a(href="/request")
        +button_arrow("Request", "#ffffff", "#1b3375")
  section.p-0
    .container(style="height: 100%;")
      .row(style="height: 100%;")
        .col-lg-2.col-md-0
        .col-lg-8.col-md-6.d-flex.flex-column.justify-content-center
          //h1=localize("errors.authenticate")
          h1 What do we offer?
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut blanditiis, enim facilis illum ipsa magni molestiae neque nihil provident, repellat voluptate! Dignissimos error itaque minus mollitia non praesentium vel. Ab amet deleniti dicta eius error esse, exercitationem fuga fugiat fugit iste iure magnam modi molestiae, numquam, qui repellendus sapiente sit voluptatem? Alias, aliquid architecto aspernatur assumenda debitis, deleniti dolorum eligendi esse explicabo ipsa iusto, labore mollitia nemo quibusdam vero voluptatem voluptatum. Ab accusamus alias aliquam atque cum cumque cupiditate dignissimos distinctio dolores eos error esse exercitationem fuga fugit illo incidunt inventore labore maiores minima molestias mollitia necessitatibus neque nesciunt numquam, officia, optio perferendis possimus quae quaerat quam quas quisquam, quo ratione reiciendis reprehenderit sunt veniam? Aspernatur labore, neque. Ad aliquid atque cum doloribus error esse facilis illo impedit ipsa iste itaque, iusto maxime minus molestias nesciunt nisi numquam perspiciatis quaerat quo, reiciendis sed, similique suscipit ut vel veniam? Blanditiis cumque doloremque facere fugiat fugit hic illo impedit inventore nisi nulla numquam omnis optio quam qui quisquam ratione, sint, sit sunt tempore temporibus unde, vero voluptatum. Alias autem consequuntur dicta ea eos error ex exercitationem fugit iste iure natus porro provident quaerat quasi quidem quis, ratione repellendus unde velit veritatis?
        .col-lg-2.col-md-0